// definire i mixins per i due maggiori breakpoint mobile e tablet

// breakpoint è una variabile che può avere diversi valori
@mixin device ($breakpoint) {
    @if $breakpoint == tablet{
    @media only screen and (max-width:680px){
        @content;
    }
}
@if $breakpoint == mobile {
    @media only screen and (max-width:481px){
        @content;
    }
}
}

//gestico il responsive
.responsive {
    background: yellow;

    @include device(tablet) {
        background: lightblue;
    }

    @include device(mobile) {
        background: aquamarine;
    }
}
