/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
#testoAlternato{
    margin: 20px;
    background: rgb(155, 81, 81);
    border: 1px solid black;
    padding: 20px;
}
#testoAlternato p{
    font-weight: 600;
    position: relative;
}
i{
    color: green;
}

.testo-1{
    position: absolute;
    animation: testo 6s linear infinite 0s;
}
.testo-2{
    animation: testo 6s linear infinite 2s;
    position: absolute;
}
.testo-3{
    position: absolute;
    animation: testo 6s linear infinite 4s;
}
@-webkit-keyframes testo {
    0% { opacity: 0; }
    3% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	6% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 0; }
}