.card{
  height: 457px;
  h5{
    font-size: 30px;
    font-family: 'Rubik 80s Fade', cursive;
  }
  p{
    font-size: 25px;
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    }
}
