//margini
$m-5:5px;
$m-l-10:10px;
//padding
$p-3:3px;
$p-5:5px;
$p-7:7px;
//bordi
$b-classic:1px solid black;
$b-circle:50px;
$b-circle-5:5px;
$nav-outline:1px solid white;
$boxS-nav: 2px 2px 5px rgba(0, 0, 0, 0.374);
//font
$f-piccolo:10px;
$f-normale:16px;
$f-grande:20px;
//font-family: 'Nerko One', cursive;
$f-titolo:'Nerko One', cursive;
//background + color

$bg-black:black;
$bg-yellow:yellow;
$bg-red:red;
$bg-green:green;

$color-black:black;
$color-yellow:yellow;
$color-red:red;
$color-green:green;

//main
$bg-main:-webkit-linear-gradient(rgba(0, 0, 255, 0.596),white);
//footer
$bg-footer:-webkit-linear-gradient(white, red);

