header{
    background: radial-gradient(white,black);
    margin: 0px;
    padding: 50px;

}
h1{
    text-align: center;
    color: red;
    font-size: 4em;
}
li{
    list-style-type: none;
}
.lista{
    margin-bottom: 10px;
    font-size: 1em;
}
main{
    background-color: rgba(81, 69, 209, 0.216);
    text-align: center;
}
h2{
    color: green;
    background-color: white;
}
.lista b{
    color: red;
}
footer{
    background-color: rgba(186, 113, 113, 0.168);
    text-align: center;
    text-decoration: none;
}
