<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><b>ToDo List</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5" [routerLink]="['/taskCompletate']" routerLinkActive="active"><b>Tasks Completed</b></a>
        </li>
      </ul>
    </div>
</nav>
